.card-area{
    background-color: #292f40;
    box-shadow: 0px 1px #056c7b70, -1em 0 9px #46044e2e;
}
.card-area:hover{
    background-color: #ad5e4fdb;
}

.fname,.designation{
    color: white;
    font-weight: bold;
}

.lname{
    color: #f5ab35;
    font-weight: bold;
    font-size: 20px;
}
.white{
    color:white;
}

.allowance{
    color: #f5ab35;
    font-weight: bold;
}

.spk-btn{
    width: 200px;
    margin: 12px auto;
    /* background-color: #f5ab35; */
    color: white;
    font-weight: bold;
}
